<p id="notice"><%= notice %></p>

<h1>Listing Less Active Members</h1>

<p>
  Showing <%= @less_active_members.count %> of <%= @less_active_members_total_cnt %> 
</p>

<table id='less-active-member-list'>
  <thead>
    <tr>
      <th>Name</th>
      <th class='address'>Current address</th>
      <th class='address' class>New address</th>
      <th>New phone</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @less_active_members.each do |less_active_member| %>
      <tr>
        <td><%= link_to less_active_member.name, less_active_member_resource_url(less_active_member, 0, "#{less_active_member.slug}.pdf"), target: '_new' %></td>
        <td><%= less_active_member.current_address %></td>
        <td><%= less_active_member.new_address %></td>
        <td><%= less_active_member.new_phone %></td>
        <td><%= raw(less_active_member.tag_list.join("<br\>")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
table#less-active-member-list tbody tr td{
  padding: 5px;
  padding-right: 2em;
  vertical-align: top;
}

th.address{
  width: 200px;
}
</style>
